Source: deepin-download-service
Section: devel
Priority: optional
Maintainer: 宋文武 <songwenwu@linuxdeepin.com>
Build-Depends: debhelper (>= 9),
               golang-go, golang-dlib-dev,
               dde-go-dbus-factory
Standards-Version: 3.9.5
Homepage: http://www.linuxdeepin.com

Package: deepin-download-service
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: deepin download service
 deepin download service
